# UI
streamlit==1.33.0
Pillow==10.2.0

# Google Sheets y Auth
gspread==5.12.0
oauth2client==4.1.3
google-auth==2.22.0
google-auth-httplib2>=0.1.0  # <- usado indirectamente por gspread
google-auth-oauthlib>=1.0.0  # <- en caso de OAuth moderno

# Datos
pandas>=2.2.0
